/**************************************************************************************************************** 
 The responsive design is achieve by a combination of flex-box, the usage of flexible unities and @media queries

*****************************************************************************************************************/

@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");

:root {
  --body-bg: #fbe8b3;
  --div1-color: #264caa;
  --div2-color: #58aae7;
  --div3-color: #8cd6f4;
  --mobile-bg-color: #424342;
  --div5-color: #dde9f7;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--body-bg);
}
.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: var(--div5-color);
  margin: 1%;
}

.container h1 {
  font-family: "Archivo Black", sans-serif;
  font-size: 4rem;
}

.one {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 99%;
  height: 30vh !important;
  background-color: var(--div1-color);
  margin: 0.5%;
  border-radius: 0.8rem;
}

.two {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 69%;
  height: 70vh !important;
  background-color: var(--div2-color);
  margin: 0.5%;
  border-radius: 0.8rem;
}
.three {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--div2-color);
  width: 29%;
  height: 70vh;
  margin: 0.5%;
  border-radius: 0.8rem;
}

@media screen and (max-width: 600px) {
  body {
    background: var(--mobile-bg-color);
  }
  .container {
    display: flex;
    flex-direction: column;
  }
  .container h1 {
    font-family: "Archivo Black", sans-serif;
    font-size: 2rem;
  }

  .one,
  .two,
  .three {
    width: 100%;
  }
  .one,
  .three {
    height: 30vh;
  }
}
